@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dogs and People</h1>
    <p class="lead">O objetivo desse aplicativo é criar e monitorar um banco de dados de cadastro de cachorros e seus donos.</p>
 
</div>